body{
    background-image: url(https://images.unsplash.com/photo-1501004318641-b39e6451bec6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80);
    background-repeat: none;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Garamond, Georgia, "Times New Roman", serif;
}

main{
    background-color: rgba(255,255,255,0.8);
    width: 60vw;
    min-width: 600px;
    margin: 5vh auto;
    padding: 5vh 10vw;
}

header{
    text-align: center;
}

header p{
    font-size: 0.9rem;
}

header hr{
    margin: 2rem 0 3rem;
}

header nav ul{
    margin: 3rem 0 2rem;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
}

#alert-message{
    margin: 5vh auto 0;
    padding: 2em;
    opacity: 0.8;
    max-width:300px;
    text-align: center;
    border-radius: 5px;
    transition: opacity 2s;
}

#alert-message.activated{
    opacity: 1;
    border: 2px solid rgba(0,0,0);
    font-weight: bold;
}

#alert-message.success{
    background-color: rgba(9,89,15);
    color: white;
}

#alert-message.failure{
    background-color: rgba(255,192,199,0.5);
    /* color: white; */
}